cs50
Flask
Flask-Session
gunicorn
psycopg2
requests

# pgloader --no-ssl-cert-verification project.db postgresql://postgres:j75a7MlcS1eRlGeTICMz@containers-us-west-145.railway.app:7591/railway?sslmode=allow
